@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/img/bg_leaves.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

.ant-progress-text{
  color: var(--foreground) !important;
}

.iZEwpU{
  pointer-events: none;
}